<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/main_layout}">
<head>
    <title>Le Room de Chat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content" class="container">
	<h1>Login to your account</h1>
    <form  th:action="@{/login}" method="post">
    <!--IMPORTANT th:objects REFERS TO THE ACTUAL MODEL NAME  -->
    	 
    <div class="alert alert-danger" th:if="${param.error}">
    <!-- param.error comes from spring security. In case of a login error, message below will show -->
    <h2>Invalid email or password</h2>
    </div>
    	
    	<div class="form-group">
    	<label for="username" class="form-control-label">Username</label>
    	<input type="text" class="form-control" id="username" name="username"/>
    	<!-- the name of the input field above should be username... Spring Security requires it...
    	it is mandatory or else the authentication feature we configured will not work properly -->
    	</div> 
        
        <div class="form-group">
    	<label for="username" class="form-control-label">Password</label>
        <input type="text" class="form-control" id="password" name="password"/>
        </div>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>