<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- sec is the name space we create to use the EL tags available 
	 with the thymeleaf extra spring security in the views (header fragment in this app)-->
<head>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href=@{css/style.css}/>
<link rel="stylesheet" type="text/css" href="../../static/css/darkly/bootstrap.min.css" th:href="@{css/darkly/bootstrap.min.css}"/>
<script th:source=@{webjars/jquery/jquery.min.js}></script>
<script th:source=@{webjars/bootstrap/bootstrap.min.js}></script>
</head>
<body>
<!-- the following says: replace this div with a fragment called header 
that can be found in the file header.html located in the fragments folder...
or "fragments/header:" -> is the file path 
and ":header" is the name of the fragment-->
<div th:replace="fragments/header::header">
</div>

<div layout:fragment="content"> 
<!-- when layout:fragment="content is called inside a div, the header and will be placed 
inside the body of that page... kind of emulation ng-view in Angular 1... Could create
an SPA concept with Thymeleaf" -->
</div>

<div th:replace="fragments/footer::footer">
</div>
</body>
</html>