<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href=@{css/style.css}/>
<link rel="stylesheet" type="text/css" href="../../static/css/darkly/bootstrap.min.css" th:href="@{css/darkly/bootstrap.min.css}"/>
<script th:source=@{webjars/jquery/jquery.min.js}></script>
<script th:source=@{webjars/bootstrap/bootstrap.min.js}></script>
</head>
<body>
<!-- the following says: replace this div with a fragment called header 
that can be found in the file header.html located in the fragments folder...
or "fragments/header:" -> is the file path 
and ":header" is the name of the fragment-->
<div th:replace="fragments/header::header">
</div>

<div layout:fragment="content">

</div>

<div th:replace="fragments/footer::footer">
</div>
</body>
</html>